<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Cedarville+Cursive&family=Comic+Neue:wght@300&family=Grape+Nuts&family=Overlock:ital,wght@0,400;1,900&family=Secular+One&display=swap" rel="stylesheet">
        
        <title>
           
            Successfully Added
        </title>
        <style>
            body{
               
               background-image: url('../../images/lib.jpg');
               
               background-size:100vw 80vw;
               background-color: black;
              
               
           }
           a{
               text-decoration: none;
               display: flex;
               margin: 30px auto 30px auto;
               padding: 10px;
               width: 40vw;
               justify-content: center;
               align-items: center;
               font-size: 120%;
               font-family: 'Comic Neue', cursive;
               background-color: white;
               color: black;
               font-weight: 600;
               cursor: pointer;
           }
           a:hover{
               background-color: lightcoral;
               box-shadow: 0 5px 10px 0 lightcoral;
               font-weight: bolder;
           }
           h2{
               text-align: center;
               font-family: 'Comic Neue', cursive;
               color: white;
           }
           @media (max-width:600px){
               input{
                   width: 80vw;
               }
               a{
                   width: 60vw;
               }
           }
        </style>
    </head>

    <body>
        <%= subjj %>
        <h2>Successfully Added to the list. Now you can go back to doubts page</h2>
        <a href="/doubt/ques/<%=subjj%>">Go back</a>
    </body>
</html>