<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dubit</title>
        <link rel="stylesheet" href="css/styles.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Cedarville+Cursive&family=Comic+Neue:wght@300&family=Grape+Nuts&family=Overlock:ital,wght@0,400;1,900&family=Secular+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="nav">
            <div><h3>Dubit</h3></div>
            <div><h3><a href="/login.ejs">Login</a></h3></div>
            <div><h3><a href="/create.ejs">Signup</a></h3></div>
        </div>
       <div id="intro">
       </div>
       <div id="head">
       <h1>Welcome to Dubit!</h1>
       <h2>Just enter your branch name, semester and choose the course in which you are having a doubt. Ask your 
           questions and get them answered using Dubit.
       </h2></div>
       <a class="login" href="login.ejs">Let's get started</a>
    </body>
</html>